{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="{% static 'tripnavigator/css/styles.css' %}" rel="stylesheet">
    <title>Login</title>
</head>
<body>

 <!-- Login Form Container -->
<div class="form-container">
    <main class="form-signin">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <img src="{% static 'tripnavigator/images/logo-black-vertical.png' %}" alt="Logo" class="me-2 img-fluid sign-in-picture">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            
            {% if message %}
                <div class="message">{{ message }}</div>
            {% endif %}
        

            <input class="btn btn-dark btn-border" style="padding: 0.5rem 1rem;" type="submit" value="Sign in">
        </form>
    </main>
</div>

</body>
</html>
