{% extends "tripnavigator/dashboard-layout.html" %}
{% load static %}

{% block title %}Trip Settings{% endblock %}

{% block content %}
<div class="container-fluid px-3 px-md-4 my-4">
  <h2 class="mb-4 text-center text-md-start">Trip Settings for "{{ trip.title }}"</h2>
  <div class="card mb-5 shadow-sm border-0" style="border-radius: 1rem;">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="save_trip" class="btn btn-primary">Save Trip Settings</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
