{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    
    <form action="{% url 'wiki:edit_page' title %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="entry_content" class="form-label">Content (Markdown)</label>
            <textarea name="content" required class="form-control" id="content" rows="6" >{{ content|safe }}</textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}