{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create new page</h1>

    <form action="{% url 'wiki:new_page' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label  for="entry_title" class="form-label">Enter Title</label>
            <input name="title" required type="text" class="form-control" id="title" placeholder="Coding">
        </div>
        <div class="mb-3">
            <label for="entry_content" class="form-label">Content (Markdown)</label>
            <textarea name="entry_content" required class="form-control" id="content" rows="6" placeholder="Coding is ..."></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

{% endblock %}