    /* Fjern ekstra horisontal padding på mobil */
    @media (max-width: 576px) {
        .container-fluid.no-px {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      /* Juster kortets højde på ekstra små skærme */
      @media (max-width: 576px) {
        .map-card {
          height: 300px !important;
        }
      }